/* MENU */
.menu {
  background-color: #333;
  height: 47px;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-top: -47px;
}

.menu .left a,
.menu .right a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.1s ease-in;
}

.menu .left a {
  width: 80px;
}

.menu .right a {
  width: 100px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.1s ease-in;
}

.menu .active {
  background-color: #416f74;
  color: white;
}

.menu .icon {
  display: none;
}

.menu .left {
  float: left;
}

.menu .right {
  float: right;
}
/* MENU */


/* PERFIL MENU */
.perfil .menu {
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  position: fixed;
  top: 0px;
}

.perfil .menu .left a,
.perfil .menu .right a {
  color: black;
}

.perfil .menu a:after,
.perfil .menu a:after {
  content: "" !important;
  border-bottom: 1px solid black !important;
  padding-left: 50px !important;
  display: none !important;
}

.perfil .menu a:hover {
  background-color: rgba(255,255,255,0.1);
  transition: 0.1s ease-in;
}

.perfil .menu .active {
  background-color: transparent;
}

.perfil .menu .active:after {
  display: block;
  border-bottom: 1px solid red;
}
/* PERFIL MENU */


/* MENU DROPDOWN */
.dropbtn {
  background-color: #416f74;
  color: white;
  padding: 16px 35px;
  font-size: 16px;
  border: none;
  transition: 0.1s ease-in !important;
  width: 200px;
  height: 47px;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 0.1s ease-in !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  padding: 15px 0px !important;
  width: 200px !important;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #365e63; transition: 0.1s ease-in !important;}
.dropdown:hover {transition: 0.1s ease-in !important;}
/* MENU DROPDOWN */


/* PERFIL MENU DROPDOWN */
.perfil .dropbtn {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 4px;
}

.perfil .dropdown .dropdown-content {
  margin-top: -1px;
  background-color: rgba(255,255,255,0.1);
}

.perfil .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.perfil .dropdown:hover .dropbtn {
  background-color: rgba(255,255,255,0.1) !important;
}

.perfil .dropbtn .thumbnail {
  border-radius: 50px;
  border: 1px solid white;
  transition: 0.2s ease-in;
}

.perfil .dropdown:hover .dropbtn .thumbnail {
  border: 1px solid #bfbfbf;
  filter: brightness(0.95);
  transition: 0.2s ease-in;
}
/* PERFIL MENU DROPDOWN */


/* INICIO DE SESION Y REGISTRO */
#login, #signup {
  width: 500px;
  border: 1px solid #d6d7da; 
  padding: 0px 15px 15px 15px; 
  border-radius: 5px;
  font-family: arial; 
  line-height: 16px;
  color: #333333;
  font-size: 14px; 
  background: rgba(200, 200, 200, 0.7);
  margin: 0 auto;
}

h3 {
  color: #365D98
}

form label {
  font-weight: bold;
}

form label, form input {
  display: block;
  width: 80%;
  margin: 0 auto;
}

form select {
  display: block;
  width: 85%;
  margin: 0 auto;
  border: solid 1px #666666;
  padding: 0px 10px;
  border: solid 1px #BDC7D8;
  margin-bottom: 20px;
  height: 30px;
}

form input[type="text"],
form input[type="mail"],
form input[type="number"],
form input[type="password"] { 
  border: solid 1px #666666;
  padding: 10px;
  border: solid 1px #BDC7D8;
  margin-bottom: 20px;
  height: 10px;
}

.button {
  background-color: #5fcf80;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  max-width: 100px;
  color: #ffffff;
}

body {
  height: 100vh;
  margin: 0;
  margin-top: 47px;
}
body.inicio, body.formulario {
  overflow: hidden;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92.5vh;
}

/* INICIO DE SESION Y REGISTRO */

body.inicio .container {
  text-align: center;
  padding-top: 25vh;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.perfil .container  {
  text-align: center;
}

body.perfil .container #profile-image-header {
  width: 100%;
  height: 45vh;
  margin-top: -47px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}




h1.titulo, h3.subtitulo-1, h4.subtitulo-2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(7, 37, 59, 1);
}

h1.titulo {
  font-weight: 800;
  font-size: 45px;
}

h3.subtitulo-1 {
  font-size: 22px;
}

h4.subtitulo-2 {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.home-button-L,
.home-button-R {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.1s ease-in;
  background-color: #416f74;
  border: 1px solid #68819c;
}

.error-login {
  color: red;
  text-align: center;
}

.home-button-L:hover, 
.home-button-R:hover {
  background-color: #8eaab9;
  color: #1d3548;

}

.home-button-L span, 
.home-button-R span {
  display: inline-block;
  width: 100px !important;
  text-shadow: 0px 0px 10px rgba(7, 37, 59, 1);
}



.home-button-L {
  background-color: #416f74;
  margin-right: 20px;
}


/* PERFIL */
body.perfil .profile-image-container {
  margin-top: -167px; 
}

body.perfil .profile-image-container img {
  border-radius: 50px;
  border: 2px solid white;
}

body.perfil .profile-image-container img:hover {
  border: 2px solid rgba(255,255,255, 0.75);
}

body.perfil .profile-image-container h2 {
  text-shadow: 0px 0px 10px rgba(7, 37, 59, 1);
  color: white;
}


/* PERFIL */



/* ERROR */
body.error-page {
  text-align: center;
  overflow: hidden;
}

body.error-page .fondo {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/img/background.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  filter: brightness(0.8);
}

body.error-page .contenedor {
    position: absolute;
    top: 28%;
    height: 100vh;
    width: 100vw;
}

body.error-page h1,
body.error-page h2 {
    color: white;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
}

body.error-page h1 {
    font-size: 120px;
    margin-bottom: 0px;
}

body.error-page h2 {
    font-size: 30px;
}

body.error-page .header-error {
    position: absolute;
    top: 47px;
    z-index: 1;
    width: 100vw;
    height: 30px;
    line-height: 30px;
    color: red;
    background-color: rgba(255,255,255,0.5);
}
/* ERROR */



/* ADMIN */
body.admin {
  overflow: hidden;
}

body.admin .menu {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(51,51,51,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(51,51,51,0.75);
  box-shadow: 0px 2px 10px 0px rgba(51,51,51,0.75);
}

body.admin .contenedor {
 /* width: 100vw;
  height: 100vh;*/
  padding: 50px;
}

body.admin .contenedor .row:before,
body.admin .contenedor .row:after {
  display: table;
  content: " ";
}

body.admin .contenedor .row {
  text-align: center;
}

body.admin .contenedor .row .col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  float: left;
}

body.admin .contenedor .row .col p {
  margin: 0 0 10px;
  margin-bottom: 25px;
}

body.admin .contenedor .row .col p a {
  width: 100% !important;
  height: 230px !important;
  line-height: 230px !important;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

body.admin .contenedor .row .col p a:first-child {
  margin-right: 10px !important;
}

body.admin .contenedor .row .col p .button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  max-width: 350px !important;
  background-color: #416f74 !important;
  border: 1px solid #365e63 !important;
  transition: 0.2s ease-in !important;
}

body.admin .contenedor .row .col p .button:hover {
  background-color: #365e63 !important;
  border: 1px solid #416f74 !important;
  transition: 0.2s ease-in !important;
}

body.admin .contenedor table {
  text-align: left;
  width: 100%;
  padding-right: 20px;
  padding-bottom: 75px;
}

body.admin .contenedor table th {
  /*text-align: center !important;*/
}

body.admin .contenedor table tr th:first-child, 
body.admin .contenedor table tr td:first-child {
  text-align: center !important;
  width: 115px;
}

body.crud {
  overflow: auto !important;
  overflow-x: hidden !important;
}

body.crud table tr.lighter {
  background-color: #DDDDDD;
}

body.crud table {
  border-spacing: 0px !important;
}

body.crud table td {
 height: 51px !important;
}

body.crud table img {
  padding-top: 5px;
}

body.crud table .boton {
  padding: 16px 6px 4px 6px;
  border-radius: 5px;
}

body.crud table .ver {
  background-color: #1d985e;
  border: 1px solid #246d4a;
  transition: 0.2s ease-in;
}

body.crud table .ver:hover {
  background-color: #1a774b;
  border: 1px solid #1d985e;
  transition: 0.2s ease-in;
}

body.crud table .editar {
  background-color: #5499a0;
  border: 1px solid #44838a;
  transition: 0.2s ease-in;
}

body.crud table .editar:hover {
  background-color: #416f74;
  border: 1px solid #5499a0;
  transition: 0.2s ease-in;
}

body.crud table .borrar {
  background-color: #cc2f2f;
  border: 1px solid #b70000;
  transition: 0.2s ease-in;
}

body.crud table .borrar:hover {
  background-color: #ad2929;
  border: 1px solid #cc2f2f;
  transition: 0.2s ease-in;
}

body.crud table .boton img {
  padding-top: 0px !important;
  width: 25px !important;
}

body.crud table tr th:last-child {
  width: 150px;
  text-align: center;
}

body.crud table .botones-container {
  text-align: center;
}

body.crud .sin-mascotas {
  text-align: center;
}

body.crud .volver {
  text-align: center;
}

body.crud .add-new {
  margin-top: -40px;
  float: right;
}

body.crud .add-new a {
  text-decoration: none;
  background-color: #416f74;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid #000000;
  transition: 0.2s ease-in;
}

body.crud .add-new a:hover {
  background-color: #365e63;
  border: 1px solid #000000;
  transition: 0.2s ease-in;
}

body.create form select {
  width: 82% !important;
}

body.create form input[type="submit"] {
  height: 30px;
  margin-top: 30px !important;
  width: 82% !important;
}







/* ADMIN */





















/* ANIMATIONS */
@keyframes slide {
  0% {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://pixabay.com/get/ed35b10d21f1003ed1584d05fb1d4797e670e5d110b80c4090f5c17fa0e4b5bcdf_1280.jpg");
  }
  50% {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  }
  100% {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://pixabay.com/get/ed35b10a29f7033ed1584d05fb1d4797e670e5d110b80c4090f5c17fafedb3bbdc_1280.jpg");
  }
}
/* ANIMATIONS */